<div class="aboutMe_content" id="about">
  <img class="meImg" src="../../assets/images/cvProfile.jpg" alt="myPhoto">
  <div class="me_skills">
    <div class="me">
      <h3>Me</h3>
      <p>  
        A Self-taught Front-End Dev been always in love with computers, IT qualifyed from de age of 19, spend the last 3 years practicing and training <span>Web Development</span>.
      </p>
      <p>
        I am confident in my ability to learn and maintain a strong focus on getting results in everything I do. 
      </p>
      <p>
        I manage time effectively and work with a high level of concentration and attention to detail.
      </p>
    </div>
    <div class="skills">
      <h3>Skills</h3>
      <ul class="ul_skills">
        <li class="li_skills">Html</li>
        <li class="li_skills">Css ,Sass</li>
        <li class="li_skills">JavaScript</li>
        <li class="li_skills">Agular Js</li>
        <li class="li_skills">Jquery</li>
        <li class="li_skills">Bootstrap</li>
        <li class="li_skills">Php</li>
        <li class="li_skills">WordPress</li>
        <li class="li_skills">Photoshop</li>
        <li class="li_skills">Illustrator</li>
        <li class="li_skills">XD Design</li>
        <li class="li_skills">Python</li>
        <li class="li_skills">Django</li>
        <li class="li_skills">Ruby</li>
        <li class="li_skills">Rails</li>
      </ul>
    </div>
  </div>
</div>
