
<div class="landing">

  <div class="landing_content">
      <h1>A love For</h1>

      <div class="code_text">
          <p class="brackets open">&#123;</p>
          <h3>CODE</h3>
          <p class="brackets close">&#125;</p>
      </div>
      
      <div class="landing_links">
        <a href="https://github.com/ssroma" target="_blank" ><img src="../../assets/images/github.png" alt="github" ></a>
        <a href="https://codepen.io/santosderoma" target="_blank" ><img src="../../assets/images/codepen.png" alt="codepen" ></a>
      </div>
  </div>
  
</div>