<div class="contact_content" id="contact">
  <div class="cv_copy">
    <div class="cv_image">
        <h3>Get a Copy!</h3>
        <div class="tick_cv">v</div>
        <img src="../../assets/images/cv.png" alt="Cv get a copy">
    </div>
    <div class="download">
      <h3>Get a Copy!</h3>
      <button class="btn_download">Roma's Cv</button>
    </div>
  </div>

  <div class="contact_form">
    <h3>Get in Touch</h3>
    <form>
      <div class="form-group">
        <label for="nameInput">Name:</label>
        <input type="text" id="nameInput" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="emailInput">Email:</label>
        <input type="email" id="emailInput" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="textInput">Questions:</label>
        <textarea id="textInput" cols="20" rows="5"></textarea>
      </div>

      <div class="form-group">
        <button class="btn_submit" type="submit">Get in Touch</button>
      </div>


    </form>
  </div>
</div>