<div class="projects_content" id="project">
  <div class="cards">

    <div class="card">
      <img src="../../assets/images/recipeBook.png" alt="Recipe Book">
      <div class="description">
        <h3>Recipe Book</h3>
        <p>Html, Sass, JavaScript, Angular Js, Cloud Firestore etc ...</p>
      </div>
      <a href="https://github.com/ssroma/Recipe-book" target="_blank" class="btn_card">Check It Out!</a>
    </div>

    <div class="card">
      <img src="../../assets/images/skyVisitors.png" alt="Sky-Visitors">
      <div class="description">
        <h3>Sky-Visitors</h3>
        <p>Html, Sass, JavaScript, Angular Js etc ...</p>
      </div>
      <a href="https://github.com/ssroma/Sky-Visotors" target="_blank"  class="btn_card">Check It Out!</a>
    </div>
    
    <div class="card">
      <img src="../../assets/images/bikeAccess.png" alt="Bike Access">
      <div class="description">
        <h3>B/A</h3>
        <p>Html, Css, JavaScript, Jquery, Php, Mysql etc ...</p>
      </div>
      <a href="https://github.com/ssroma/B-A" target="_blank"  class="btn_card">Check It Out!</a>
    </div>
    
    <div class="card">
      <img src="../../assets/images/flickProject.png" alt="Flick">
      <div class="description">
        <h3>Flick Proj</h3>
        <p>Html, Sass, JavaScript, Jquery, Fetch Api etc ...</p>
      </div>
      <a href="https://github.com/ssroma/flicks_project" target="_blank"  class="btn_card">Check It Out!</a>
    </div>
    
    <div class="card">
      <img src="../../assets/images/ratingPlayers.png" alt="Rating Players">
      <div class="description">
        <h3>Rating Players</h3>
        <p>Html, Sass, JavaScript, Angular Js etc ...</p>
      </div>
      <a href="https://github.com/ssroma/Rating-s-Player" target="_blank"  class="btn_card">Check It Out!</a>
      <!-- <button type="button" class="btn_card">Check It Out!</button> -->
    </div>

  </div>
</div>